<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        overflow-x: scroll;
    }
</style>
<span id="arrow"><a href="/mylibrary "><%= image_tag 'back.png', width: '75vw'%></a></span>
<div id="main-div-container" style="display: flex; flex-direction:row">
    <div style="display: flex; flex-direction: row;">
    <div>
        <%= image_tag 'girl_quiz.png', width: '150%',height: '84%', style: 'margin-top: 5vw;'%>
    </div>
    <button class="left" onclick="plusDivs(-1)">&#10094;</button>
        <% if @show_quiz %>
        <% @show_quiz.each_with_index do |record, index| %>  
        <% @number = index + 1%> 
            <div class="content" id="contain_<%= record.id %>" style="margin-top: 6vw;">
                    <div class="timer_btn">
                        <span class="timer_quiz" id="time-span"><%= record.timer %> </span>
                    </div>
                    <div class="que" style="display: flex; flex-direction:row;">
                        <span class="question_id"><%= @number %></span>
                        <span class="question_tag"><%= record.question %></span>
                    </div>
                <div style="display: flex; flex-direction: column;">
                    <span class="option" id="optA"><%= record.optionA %></span>
                    <span class="option" id="optB"><%= record.optionB %></span>
                    <span class="option" id="optC"><%= record.optionC %></span>
                    <span class="option" id="optD"><%= record.optionD %></span>
                 </div>
            </div>
        <% end %>
        <% else %>
          <span id="err_msg_lib">Oops..! your questions are not created yet</span>

    <% end %>
    <button class="right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    
</div>

<script>
    let slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }

        function showDivs(n) {
        let i;
        let x = document.getElementsByClassName("content");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
        }
</script>