<style>
    body{
        overflow-x: scroll;
        background-color: #96dae154;
    }
</style>

<div id="main_div_container" style="display: flex; flex-direction:row;">
    
    
    <div>
        <%# <button class="left" onclick="plusDivs(-1)">&#10094;</button> %>
    </div>
    <div>
        <% if @cur_quiz %>
        
        <% @cur_quiz.each_with_index do |record, index| %>
        <% @number = index + 1%> 
            <div class="content" id="contain_<%= record.id %>" style="margin-top: 6vw;">
                <form action="/takingtest" method="post" style="display: flex; flex-direction: column;">
                    <div class="timer_btn">
                        <span class="timer_quiz" id="time-span"><%= record.timer %> </span>
                    </div> 
                    <div class="que" style="display: flex; flex-direction:row;">
                        <span class="question_id"><%= @number %></span>
                        <span class="question_tag"><%= record.question %></span>
                    </div>
                    <div style="display: flex; flex-direction: column;">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="id" value="<%= record.id%>">
                        <input onclick="color_change_A()" class="option" type="submit" name="cor_answer" id="optA" value="<%= record.optionA %>">
                        <input onclick="color_change_B()" class="option" type="submit" name="cor_answer" id="optB" value="<%= record.optionB %>">
                        <input onclick="color_change_C()" class="option" type="submit" name="cor_answer" id="optC" value="<%= record.optionC %>">
                        <input onclick="color_change_D()" class="option" type="submit" name="cor_answer" id="optD" value="<%= record.optionD %>">
                    </div>
                </form>
            </div>
        <% end %>
        <%# <% else %> %>
            <%# <div style="margin-top: 18vw; margin-left: -5vw; margin-right: 5vw;">
                <span id="err_msg_lib" style="padding-bottom: 5vw;">Oops..! This code has no questions or the code is expired</span>
            </div> %>
    <% end %>       
    </div>
    <div>
        <%# <button class="right" onclick="plusDivs(1)">&#10095;</button> %>
    </div>
    <div>
         <%= image_tag 'background.png', style: 'height:36vw; width:32vw; margin-left: 2vw; margin-top: 6vw; margin-right: -0vw; position: fixed;'%>
    </div>
</div>

 <script>
    function color_change_A() {
        // event.preventDefault();
        document.getElementById("optA").style.background = "#24B7C6";
        document.getElementById("optB").style.background = "#a3f6ff3d";
        document.getElementById("optC").style.background = "#a3f6ff3d";
        document.getElementById("optD").style.background = "#a3f6ff3d";
    }
    function color_change_B() {
        // event.preventDefault();
        document.getElementById("optA").style.background = "#a3f6ff3d";
        document.getElementById("optB").style.background = "#24B7C6";
        document.getElementById("optC").style.background = "#a3f6ff3d";
        document.getElementById("optD").style.background = "#a3f6ff3d";
    }
    function color_change_C() {
        // event.preventDefault();
        document.getElementById("optA").style.background = "#a3f6ff3d";
        document.getElementById("optB").style.background = "#a3f6ff3d";
        document.getElementById("optC").style.background = "#24B7C6";
        document.getElementById("optD").style.background = "#a3f6ff3d";
    }
    function color_change_D() {
        // event.preventDefault();
        document.getElementById("optA").style.background = "#a3f6ff3d";
        document.getElementById("optB").style.background = "#a3f6ff3d";
        document.getElementById("optC").style.background = "#a3f6ff3d";
        document.getElementById("optD").style.background = "#24B7C6";
    }
    let time = document.getElementById("time-span").innerText;
    const countdownEl = document.getElementById("time-span");
    setInterval(updateCountdown, 1000);
    
    function updateCountdown() {
        const sec = time % 60;
        countdownEl.innerHTML = `${sec}`;
        time--;
        
        if (countdownEl.innerHTML == 0) {
                document.getElementById('time-span').style.display = "none";
                // recognition.abort(); 
                isListening = false;
                
            }
    }
        let slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
        showDivs(slideIndex += n);
        }

        function showDivs(n) {
        let i;
        let x = document.getElementsByClassName("content");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
        }
 </script>