<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        background-color: white;
        /* background-image: url(<%= asset_path 'register_page_boy.png' %>);
        background-repeat: no-repeat;
        background-size: 100vw 100vh; */
        display: flex;
        flex-direction: row;
    }
    .flash-msg{
        color: red;
        margin-left: 20%;
        padding-top: 5%;
    }
    ::placeholder{
        color: #012C3D;
        font-size: 1vw;
    }
    #show{
        position: absolute;
        left: 22vw;
        top: 14vw;
    }
</style>

<%# <h1 style="font-size:5vw;">Register</h1> %>
<div style="display: flex; flex-direction: row;">
<h2 style="margin-left: 5vw; font-size: 3vw; margin-top: 4vw; font-family: 'Poppins'; color: #F96972;">Create Account</h2>
    <div id="div_style">

        <% flash.each do |type, msg| %>
            <div class = "flash-msg">
                <%= msg %>
            </div> 
        <% end %>
            <%= form_with(model: @user,  url: "/create", method: "POST") do |form| %>
            <%= form.text_field :username , :required => true,  id: "user_name", class: "text_box", placeholder: "Enter your username", style: "margin-left: 40px;  margin-top: 40px;" %><br>
            <%= form.text_field :email_id , :required => true, :pattern => '[^@]+@[^@]+\.[a-z]{2,6}', id: "emailId" ,class: "text_box", placeholder: "Enter your Email id", style: "margin-left: 40px;  margin-top: 40px;" %><br>
            <%= form.password_field :password , :required => true, id: "myInput" ,class: "text_box", minlength: "8", maxlength: "12", placeholder: "Enter your Password", style: "margin-left: 40px;  margin-top: 40px;" %><br>
            <span onclick="showPasswordFunction()" id = "show"><i class="fa fa-eye-slash" aria-hidden="true"></i></span><br>
            <%= form.text_field :dob , id: "myDueDate", :required => true, class: "text_box", placeholder: "Enter your Date of Birth", input_html: { in: 1.0..200.0}, onfocus: "(this.type='date')", style: "margin-left: 40px;  margin-top: 40px;" %><br>
            <p style=" font-family: Poppins; font-size: 1.15rem; text-align: center;">Already have an account <a href="/login" style="color: #F96972;"> Log in</a></p><br>
            <%= form.submit "Submit" , style: "margin-left: 24%; width: 44%; height: 44px; border-radius: 10px; background-color: #F96972; border-color: #F96972; color: white; font-family: 'Poppins'; font-weight: bold; font-size: 25px; " %>
            <% end %>
    </div>
    <div>
         <%= image_tag 'register_male.png', style: 'height:43vw; width:42vw; margin-left: 7vw; margin-top: 2vw; margin-right: -0vw; position: fixed;'%>
    </div>
</div>



<script>
    function showPasswordFunction(){
        let show = document.getElementById("myInput");
        if(show.type == "password"){
            show.type = "text";
             let check = document.getElementById("show").innerHTML = '<i class="fa fa-eye" aria-hidden="true">';
        }
        else{
            show.type = "password"
             let check = document.getElementById("show").innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true">';
        }
    }
</script>