<style>
body{
    background-color: white;
     scroll-behavior: smooth;
     Overflow-y:scroll;
}

.quiz_tag{
    text-align: center;
    background-color: #FFC72E;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 12vw;
    /* float: right; */
    height: 60px;
    margin-left: 8%;
    margin-top: 8vw;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
}
.fillup_tag{
    text-align: center;
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 8.3vw;
    /* float: right; */
    height: 60px;
    margin-left: 5vw;
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
}
.tof_tag{
    text-align: center;
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 8.3vw;
    /* float: right; */
    height: 60px;
    margin-left: 5vw;
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 5px;
    font-family: Poppins;
}

</style>
<div class="main-container">
        <%# <%= render partial:"fillup"%> 
<div style="display: flex; flex-direction: row; position: fixed;">
    <%= image_tag 'EVALU.png', id: "logo_evalu",  :style => "margin-top: -6.5vw; width: 10vw; height: 6vh; margin-left: 4vw; " %>
 </div> 
 <% @questions.each do |record| %>
  
<%# <div class="sidenav">
    <h2 > Types </h2>
            <a href="" onclick="myfunction_3()">Quiz</a>
            <a href="" onclick="myfunction_3()">Fill up</a>
            <a href="" onclick="myfunction_3()">True or false</a>
</div> %>

            <div id="body_container">
        
                <div id="container" class="resba">
                    <div class="timer_btn">
                        <span class="timer_quiz" id="time-span"><%= record.timer %> </span>
                    </div>
                    <div class="con_div">
                        <!-- <form action="" method=""> -->
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div class="que" style="display: flex; flex-direction:row;">
                                <!-- <%# <div class="numnav">
                                    <input type="numbers" name="quiz[question_number]" class="ques_num">
                                </div> %> -->
                                <span class="question_id"><%= record.id %></span>
                                <span class="question_tag"><%= record.question %></span>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style= "display: flex; flex-direction: column;">
                                    <div style="display: flex; flex-direction: row;">
                                        <div class="opt_A">A</div>
                                        <span class="up_left"><%= record.optionA %></span>
                                    </div>
                                    <div style="display: flex; flex-direction: row;">
                                        <span class="opt_B">B</span>
                                        <span class="up_right"><%= record.optionB %></span>
                                    </div>   
                                
                                    <div style="display: flex; flex-direction: row;">
                                        <span class="opt_C">C</span>
                                        <span class="down_left"><%= record.optionC %></span>
                                    </div>
                                    <div style="display: flex; flex-direction: row;">
                                        <span class="opt_D">D</span>
                                        <span class="down_right"><%= record.optionD %></span>
                                    </div>
                                </div>
                                </div>
                            </div>
                                
                       
                    </div>
                </div>
            </div> 
        <!-- </form> -->
        </div>
    </div>
</div> 

</div>
 <% end %>

<script>
// let time = document.getElementById("time-span").innerText;
//     const countdownEl = document.getElementById("time-span");
//     setInterval(updateCountdown, 1000);
    
//     function updateCountdown() {
//         const sec = time % 60;
//         countdownEl.innerHTML = `${sec}`;
//         time--;
//     }
</script>


