<style>
body{
    background-color: white;
     scroll-behavior: smooth;
     Overflow-y:scroll;
}

.quiz_tag{
    text-align: center;
    background-color: #FFC72E;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 12vw;
    /* float: right; */
    height: 60px;
    margin-left: 8%;
    margin-top: 8vw;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
}
.fillup_tag{
    text-align: center;
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 8.3vw;
    /* float: right; */
    height: 60px;
    margin-left: 5vw;
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 55px;
    font-family: Poppins;
}
.tof_tag{
    text-align: center;
    background-color: #B3B3B3;
    font-weight: 900;
    color: white;
    border-radius: 50px 5px 5px 50px; 
    width: 8.3vw;
    /* float: right; */
    height: 60px;
    margin-left: 5vw;
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 5px;
    font-family: Poppins;
}

</style>
        <%= render partial:"fillup"%>
 <% @questions.each do |record| %>
<div class="main-container">
<div class="navbar-side" id="nav-side">
        <button id="btn-add" style="width: 45%; font-size: 1vw; " onclick="myfunction()"> + </button>
        <div id="page_div">  </div>
</div>
  <div id="body_container">
    <div id="container" class="resba">
         <h2 id="text">Question</h2>
        <div class="con_div">
        <form action="/store" method="post">
       
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="que">
                <%# <input class="question_tag" type="text" name="quiz[question]" placeholder=" Write a question ?" > %>
                <span class="question_tag"><%= record.question %></span>
            </div>
            <div style= "position: absolute; top: 3%; right: 93px; display: flex; flex-direction: column;">
                <div class="quiz_tag">
                    <a href="/quiz"> Quiz </a>
                </div>
                <div class="fillup_tag">
                    <a href="/fill_up"> Fill up </a>
                </div>
                <div class="tof_tag">
                    <a href="/trueOrFalse"> True or False </a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row;">
                <div style= "display: flex; flex-direction: column;">
                    <%# <input class="up_left" type="text" name="quiz[option1]" placeholder=" Option 1 " >
                    <input class="down_left" type="text" name="quiz[option3]" placeholder=" Option 3" > %>
                    <span class="up_left"><%= record.option1 %></span>
                    
                    <span class="down_left"><%= record.option3 %></span>
                </div>
                <div>
                    <button class="time-btn" onclick="setTimeout(myFunction, 3000);">
                    <span class="time-span"> 15 </span>
                    </button>
                </div>
                <div class="right_div" style= "position: absolute; right: 92px; display: flex; flex-direction: column; ">
                    <%# <input class="up_right" type="text" name="quiz[option2]" placeholder=" Option 2 " >
                    <input class="down_right" type="text" name="quiz[option4]" placeholder=" Option 4 " > %>
                    <span class="up_right"><%= record.option2 %></span>
                    <span class="down_right"><%= record.option4 %></span>
                </div>
            </div>
            <button type="submit">save</button>
           
        </form>
        </div>
    </div>
</div> 

</div>
 <% end %>

<script>
    function myfunction() {
       
        // let btn = document.getElementById("")
        // for (let i = 1; i < 2; i++) {
        //     let myDiv = document.getElementById("page_div");
        //     let button = document.createElement("BUTTON");
        //     button.innerHTML = "Page" + i;
        //     myDiv.appendChild(button);
        // }
    }
</script>


