
    <div>
      <div style=" display: flex; flex-direction: row;">
        <div style="margin-top: -6vw; position: fixed; z-index: 100;">
          <%= image_tag 'EVALU.png' , id: "logo_evalu" %>
        </div>
        <div>
            <ul>
              <li>
                <a href="/home">
                  Home
                </a>
              </li>
              <li>
                  <a href="/savetolibrary">
                    Create
                  </a>
              </li>
              <li>
                  <a href="/mylibrary">
                    Dashboard
                  </a>
              </li>
              <li class="dropdown">
                <%= image_tag "loggedinuser.png" , height: 50, class: 'dropbtn' %>
    
                      <div id="myDropdown" class="dropdown-content">
                        <a href="#"><%= @current_user.username %></a>
                        <a href="/profile" style="color: red; font-size: 25px;"> Profile </a>
                        <a href="/logout" style="color: red; font-size: 25px;"> Logout </a>
                      </div>
                    </div>
                  </div>
              </li>
            </ul>
        </div>
      </div>
      <div id="box_back_container" style="display: flex; flex-direction: row;">
          <div class="sidenav">
              <div style="display: flex; flex-direction: row;">
                  <%= image_tag 'explore_image.png' , width: "40vw" , height: "40vw" , class: "image_class" %>
                      <a href="/explore">Explore</a>
              </div>
              <div style="display: flex; flex-direction: row;">
                  <%= image_tag 'profileicon.png' , width: "40vw" , height: "40vw" , class: "image_class" %>
                      <a href="/profile" style="font-weight: 900;">Profile</a>
              </div>
              <div style="display: flex; flex-direction: row; margin-top: 1vw;">
                  <%= image_tag 'mylibrary.png' , width: "40vw" , height: "40vw" , class: "image_class" %>
                      <a href="/mylibrary">My Library</a>
              </div>
              <div style="display: flex; flex-direction: row;">
                  <%= image_tag 'report.png' , width: "40vw" , height: "40vw" , class: "image_class" %>
                      <a href="/reports">Report</a>
              </div>
          </div>
          <div>
              <%= image_tag 'triangle.png' , id: "tri_id" %>
          </div>
          <div style="display: flex; flex-direction: row;">
            <div id="details" style="display: flex; flex-direction: column;">
              <div style="display: flex; flex-direction: row;">
                <h2 class="label_cls">Username :</h2> <span class="field_cls"> <%= @current_user.username %></span>
              </div>
              <div style="display: flex; flex-direction: row;">
                <h2 class="label_cls"> Email id : </h2> <span class="field_cls"> <%= @current_user.email_id %></span>
              </div>
              <div style="display: flex; flex-direction: row;">
                <h2 class="label_cls"> Date of Birth : </h2> <span class="field_cls"> <%= @current_user.dob %></span>
              </div>
              <button id="edit_btn" onclick="showEditForm()">
                Edit
              </button>
            </div>
            <div style="display: flex; flex-direction: column;">
              <h1 style="margin-top: 6vw; margin-left: -15vw; font-size: 4vw; font-family: Poppins; color: #24B7C6;">My Profile</h1>
              <div id="profile_image">
                <%= image_tag 'loggedinuser.png', width: '100%', height: '100%'%>
              </div>
            </div>
          </div>
      </div>
    </div>    


<div id="edit_form" style="display: none;">
  <a href="/profile"><%= image_tag 'wrong_sym.png' , id: "wrong_symbol" %></a>
  <h2 id="text_edit">Edit Profile</h2>
  <form action="/edit/<%= @current_user.id%>">
    <input class="edit_box" type="text" name="edit_details[username]" value= "<%=@current_user.username%>" > <br>
    <div class="field_cls" style="background-color: white; width: 21vw; margin-left: 7vw; border-radius: 13px; height: 2.5vw;"> <%= @current_user.email_id %></div>
    <input class="edit_box" type="date" name="edit_details[dob]" value= "<%=@current_user.dob%>" ><br>
    <input id="edit_submit" type="submit" value= "Save" >
  </form>
</div>

<script>
    function myFunction() {
        let x = document.getElementById("myDropdown");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
    }
    function showEditForm() {
      document.getElementById("box_back_container").style.display = "none";
      document.getElementById("edit_form").style.display = "block";  
    }
</script>