<div id="big_container">
    <div style=" display: flex; flex-direction: row;">
      <div style="margin-top: -6vw; position: fixed; z-index: 100;">
        <%= image_tag 'EVALU.png' , id: "logo_evalu" %>
      </div>
      <div>
          <ul>
            <li>
              <a href="/home">
                Home
              </a>
            </li>
            <li>
                <a href="/quiz">
                  Create
                </a>
            </li>
            <li>
                <a href="/mylibrary">
                  Dashboard
                </a>
            </li>
            <li class="dropdown">
              <%= image_tag "loggedinuser.png" , height: 50, class: 'dropbtn' %>
  
                    <div id="myDropdown" class="dropdown-content">
                      <a href="#"><%= @current_user.username %></a>
                      <a href="/profile" style="color: red; font-size: 25px;"> Profile </a>
                      <a href="/logout" style="color: red; font-size: 25px;"> Logout </a>
                    </div>
                  </div>
                </div>
            </li>
          </ul>
      </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div class="sidenav">
            <div style="display: flex; flex-direction: row;">
                <%= image_tag 'explore_image.png', width: "50vw", height: "50vw", class: "image_class" %>
                <a href="/explore">Explore</a>
            </div>
            <div style="display: flex; flex-direction: row;">
                <%= image_tag 'profileicon.png', width: "50vw", height: "50vw", class: "image_class" %>
                <a href="/profile">Profile</a>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 1vw;">
                <%= image_tag 'mylibrary.png', width: "50vw", height: "50vw", class: "image_class" %>
                <a href="/mylibrary">My Library</a>
            </div>
            <div style="display: flex; flex-direction: row;">
                <%= image_tag 'report.png', width: "50vw", height: "50vw", class: "image_class" %>
                <a href="/reports" style="font-weight: 900;">Report</a>
            </div>
        </div>
        <div>
            <%= image_tag 'triangle.png', id: "tri_id"%>
        </div>
        <div id="piechart" style="margin-left: 15vw; margin-top: 11vw;">
        <% if @user_check%>
          <%= pie_chart CorrectAnswer.group(:status).count %><br>
          <div id="answer_result">
            <% if @user_report %>
              <span>No.of.Correct Answer :</span>
              <%= CorrectAnswer.where("users_id = ? AND status = ?" , @current_user, true).count%><br>
              <span>No.of.Wrong Answer :</span>
              <%= CorrectAnswer.where("users_id = ? AND status = ?" , @current_user, false).count%>
            <% end %>
          </div>
        <% else %>
          <span id="err_msg">Oops...! You are not done anything</span>
        <% end %><br>
        
        </div>
        
    </div>
    
    
</div>